body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-image: url('../img/fundocinza.avif'); /* Substitua com o caminho da sua imagem */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f0f0f0; /* Cor de fundo de fallback caso a imagem não carregue */
    color: #333; /* Cor do texto */
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0.8); /* Fundo semi-transparente para melhor legibilidade */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    color: #333;
}

main {
    padding: 10px 0;
}

section {
    margin-bottom: 30px;
}

section h2 {
    color: #555;
    font-size: 1.2em;
    margin-bottom: 10px;
}

section p {
    color: #666;
    margin-bottom: 8px;
}

footer {
    text-align: center;
    color: #888;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
}
